@page "/testpage"

<div class="container-fluid bg-primary h-100">
    @*<div hidden @onkeypress="OnKeyPressed"></div>*@
    @*<input type="text" @onkeydown="OnKeyPressed"/>*@
	<div class="row bg-success h-100">
        @*had h-100*@
		<div class="col-md-9 bg-warning d-flex align-items-center justify-content-center mh-100">
            @if(ImageName!=null && ImageName!="")
            {
                @*<img class="mw-100 mh-100" src="images/placeholder.svg" alt="Card image cap">*@
                @*<img class="mw-100 mh-100" width="750" src="images/cat01_500.jpg" alt="Card image cap"> *@
                @*<img class="mw-100 mh-100" width="750" src="@testSrc2" alt="Card image cap"> *@
                
                @*<img @ref="imgReference" hidden src="images/cat01_500.jpg"> *@
                @*<img @ref="imgReference" hidden src="@testSrc"> *@
                @*<BECanvas Width="500" Height="500" @ref="_canvasReference" ></BECanvas>*@

                <SKCanvasView 
                    @ref="skiaView" 
                    @onmousewheel="OnMouseWheel"
                    @onmousedown="OnMouseDown"
                    @onmousemove="OnMouseMove"
                    @onmouseup="OnMouseUp"
                    @onmouseout="OnMouseOut"
                    @onclick="OnClick"
                    @onmouseover="OnMouseOver"
                    OnPaintSurface="@OnPaintSurface"
                    IgnorePixelScaling="false" 
                    @attributes="CanvasAttributes" 
                    class="border mw-100 mh-100 w-100 h-100"
                    style="image-rendering: pixelated;"/>
            }
            else
            {   
                <div class="text-center">
                    <UploadImageComponent ParentMethod="LoadImageToEdit"></UploadImageComponent>
                    <div class="btn btn-light my-2" @onclick='()=>NavigationManager.NavigateTo("imagelist2")'>Choose image from Image List</div>
                </div>
            }
		</div>
		<div class="col-md-3 bg-info d-flex flex-column overflow-auto mh-100 align-items-center">
			@*<Tools2Component></Tools2Component>*@
            
            <p class="fs-6 fw-bold m-2">@ImageName</p>
            <button class="btn btn-primary" @onclick="ReloadBitmap">Reload bitmap</button>
            <div class="btn-group m-2 w-75" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" @onclick="@(() => OnKeyPressedJS(eCtrlKey: true, eShiftKey: false, eCode: "KeyZ"))">Undo</button>
                    <button class="btn btn-primary" @onclick="@(() => OnKeyPressedJS(eCtrlKey: true, eShiftKey: true, eCode: "KeyZ"))">Redo</button>
            </div>
            <div class="form-check m-2">
              <input class="form-check-input" type="checkbox" value="@showPixels" id="flexCheckChecked" checked
                    @onchange="OnChangeShowPixels">
              <label class="form-check-label" for="flexCheckChecked">Show pixels</label>
            </div>
            <button class="btn btn-primary m-2 w-75" @onclick="ToggleCollapse">Toggle</button>
            @if(!collapse)
            {
                <button class="btn btn-primary m-2 w-50" @onclick="ResetPanOffset">Center image</button>
                <button class="btn btn-primary m-2 w-50" @onclick="ResetScale">Reset scale</button>
                <button class="btn btn-primary m-2 w-50" @onclick="CropImage">Crop image</button>
                @*<button class="btn btn-primary m-2 w-50" @onclick="RotateImage">Rotate image</button>*@
                <div class="btn-group m-2 w-75" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" @onclick="() => RotateImage(-1)">Rotate -90</button>
                    <button class="btn btn-primary" @onclick="() => RotateImage(1)">Rotate 90</button>
                </div>
                <button class="btn btn-primary m-2 w-50" @onclick="() => FlipImage(true)">Flip horizontally</button>
                <button class="btn btn-primary m-2 w-50" @onclick="() => FlipImage(false)">Flip vertically</button>
                @*<button class="btn btn-primary m-2 w-50" @onclick="() => TiltImage(5)">Tilt image</button>*@
            
                @*<label for="customRange1" class="form-label">Tilt angle</label>
                <input 
                    @bind="tiltAngle" @bind:event="oninput" @on="() => Console.WriteLine(msg)"
                    min="0" max="90"
                    type="range" class="form-range" id="customRange1">
                <p>@tiltAngle</p>*@

                <label for="customRange1" class="form-label pt-2 px-2">Tilt image</label>
                <input 
                    value="@tiltAngle" @oninput="OnTiltAngleChange"
                    min="@minAngle" max="@maxAngle"
                    type="range" class="form-range m-2 w-75" id="customRange1">
                <input 
                    value="@tiltAngle" @onchange="OnTiltAngleChange"
                    type="number" class="form-control m-2 w-25" id="formControlInput1">
                <button class="btn btn-primary m-2 w-50" @onclick="ResetTilt">Reset tilt</button>

                <button class="btn btn-primary m-2 w-50" @onclick="ModalShowDownloadComponent">Download</button>
                <button class="btn btn-primary m-2 w-50" @onclick="ModalShowResizeComponent">Resize</button>
                @*<button class="btn btn-primary m-2 w-50" @onclick="@(() => Progress(SaveImage, message: "Saving..."))">Save image</button>*@
                <button class="btn btn-primary m-2 w-50" @onclick="@(() => SService.Progress(Modal, SaveImage, message: "Saving..."))">Save image</button>
                @*<button class="btn btn-primary m-2 w-50" @onclick="ModalShowFilterComponent">Filter image</button>*@
            }
            <Filter2Component AddBitmap="AddBitmap" ShowBitmap="ShowBitmap"></Filter2Component>
            <HistogramComponent></HistogramComponent>
            <ColorSliderComponent AddBitmap="AddBitmap" ShowBitmap="ShowBitmap"></ColorSliderComponent>
        </div>
	</div>
</div>
